/*通用*/
body{
    line-height: 1.15;
    font-size: 0.5rem;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-color: #101129;
}
*{
    margin: 0;
    padding: 0;
    font-weight: normal;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/*头部、尾部图片*/
.viewport {
    margin: 0 auto;
    background: url(../images/logo.png) no-repeat 0 0 / contain,
                url(../images/new.png) no-repeat center bottom / contain;
    display: flex;
    padding: 10vh 0.833vh 0;
    height: 90vh;
}

/*尾文字设置*/
.center-text {
  color: white; /* 设置文字颜色 */
  font-size: 1rem; /* 根据需要调整字体大小 */
  font-weight: bold; /* 设置字体加粗 */
  text-align: center; /* 居中对齐文本 */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 增加阴影以提升可读性 */
  /*letter-spacing: 0.5em; !* 设置字母间距 *!*/
}



/*图标大小*/
.icon-plane {
  font-size: 0.625rem;  /* 图标大小 */
}
/*基础布局*/
.column{
    flex: 3;
    position: relative;
}
.column:nth-child(2){
    flex: 4;
    margin: 1.333rem 0.833rem 0;
}
.panel {
    /* 边框 */
    box-sizing: border-box;
    border: 2px solid red;
    border-image: url(../images/border.png) 51 38 21 132;
    border-width: 2.125rem 1.583rem 0.875rem 5.5rem;
    position: relative;
    margin-bottom: 0.833rem;
}
.panel .inner {
    /* 装内容 */
    position: absolute;
    top: -2.125rem;
    right: -1.583rem;
    bottom: -0.875rem;
    left: -5.5rem;
    padding: 1.5vh 2vh;
}
.panel h3{
    font-size: 0.833rem;
    color: #fff;
}

/* 生产实时明细 */
.monitor{
	height: 74vh;
  }
.monitor .inner{
	padding: 1.5vh 0;
	display: flex;
	flex-direction: column;
  }
.monitor .tabs{
	padding: 0 2vh;
	margin-bottom: 0.75rem;
  }
.monitor .tabs a{
	color: #1950c4;
	font-size: 0.75rem;
	padding: 0 1.125vh;
  }
.monitor .tabs a:first-child{
	border-right: 0.083rem solid #00f2f1;
	padding-left: 0;
  }
.monitor .tabs a.active{
	color: #fff;
  }
.monitor .content{
	flex: 1;
	display: none;
	position: relative;
  }
.monitor .head{
	background: rgba(255, 255, 255, 0.1);
	font-size: 0.583rem;
	padding: 1vh 2vh;
	color: #68d8fe;
	display: flex;
	justify-content: space-between;
	line-height: 1.05;
  }
.monitor .col:nth-child(1) {
  width: 20%;
  justify-content: center; /* 水平居中对齐 */
  align-items: center; /* 垂直居中对齐 */
  text-align: center;
  }
.monitor .col:nth-child(2) {
  width: 20%;
  justify-content: center; /* 水平居中对齐 */
  align-items: center; /* 垂直居中对齐 */
  text-align: center;
  }
.monitor .col:nth-child(3) {
  width: 60%;
  justify-content: center; /* 水平居中对齐 */
  align-items: center; /* 垂直居中对齐 */
  text-align: center;
  }
.monitor .col:nth-child(4) {
  width: 20%;
  justify-content: center; /* 水平居中对齐 */
  align-items: center; /* 垂直居中对齐 */
  text-align: center;
  }
.monitor .col:nth-child(5) {
  width: 40%;
  justify-content: center; /* 水平居中对齐 */
  align-items: center; /* 垂直居中对齐 */
  text-align: center;
  }
.monitor .marquee-view{
  position: absolute;
  top: 1.6rem;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.monitor .row{
  line-height: 1.05;
  padding: 1vh 2vh;
  color: #61a8ff;
  font-size: 0.5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.monitor .row:hover{
  color:#68d8ff;
  background: rgba(255, 255, 255, 0.1);
}
.monitor .row:hover .icon-dot{
  opacity: 1;
}
.monitor .icon-dot{
  position: absolute;
  left: 0.64rem;
  opacity: 0;
}
.monitor .marquee-view{
	position: absolute;
	top: 1.6rem;
	bottom: 0;
	width: 100%;
	overflow: hidden;
  }
.monitor .row{
	line-height: 1.05;
	padding: 1vh 2vh;
	color: #61a8ff;
	font-size: 0.5rem;
	position: relative;
	display: flex;
	justify-content: space-between;
  }
.monitor .row:hover{
	color:#68d8ff;
	background: rgba(255, 255, 255, 0.1);
  }
.monitor .row:hover .icon-dot{
	opacity: 1;
  }
.monitor .icon-dot{
	position: absolute;
	left: 0.64rem;
	opacity: 0;
}


/* 动画 */
@keyframes row{
  0%{}
  100%{
    transform: translateY(-50%);
  }
}
/* 调用动画 */
.monitor .marquee {
  /* //infinite永久调用动画 */
  animation: row  10s linear infinite;
}
/*鼠标划入 停止动画  */
.monitor .marquee:hover {
  animation-play-state: paused;
}

/* 设备区块信息 */
.point {
  height: 16vh;
}
.point .text {
  display: flex; /* 使用 Flexbox 实现横向排列 */
  justify-content: space-between; /* 保证两侧的元素有最大间距 */
}
.point .text {
  flex: 1; /* 各占 1:1 权重 */
  text-align: left; /* 默认左对齐 */
}
.point .text .align-right {
  text-align: right;
  display: flex;
}
.point .chart {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
}
.point .data {
  display: flex;
  justify-content: space-between;
}
.point .item {
  text-align: center;
}
.point .data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 7rem;
  padding: 1.5vh 1.25vh;
  box-sizing: border-box;
  background-image: url(../images/rect.png);
  background-size: cover;
}
.point h4 {
  margin-bottom: 0.5rem;
  font-size: 1.167rem;
  color: #fff;
}
.point span {
  display: block;
  color: #4c9bfd;
  font-size: 0.667rem;
}

/* 右侧区域权重 */
.sales, .Area {
  flex: 1;
  height: 40vh;
}

/* 炉膛温度折线图 */
.sales .caption {
  display: flex;
  line-height: 1;
}
.sales h3 {
  height: 2vh;
  padding-right: 1vh;
  border-right: 0.083rem solid #00f2f1;
}
.sales a {
  padding: 0.167rem;
  font-size: 0.667rem;
  margin: -0.125rem 0 0 0.875rem;
  border-radius: 0.125rem;
  color: #0bace6;
}
.sales a.active {
  background-color: #4c9bfd;
  color: #fff;
}
.sales .inner {
  display: flex;
  flex-direction: column;
}
.sales .chart {
  flex: 1;
  padding-top: 0.6rem;
  position: relative;
}
.sales .label {
  position: absolute;
  left: 1.75rem;
  top: 0.75rem;
  color: #4996f5;
  font-size: 0.583rem;
}
.sales .line {
  width: 100%;
  height: 100%;
}

/* 区域温度折线图 */
.Area .caption {
  display: flex;
  line-height: 1;
}
.Area h3 {
  height: 2vh;
  padding-right: 0.75rem;
  border-right: 0.083rem solid #00f2f1;
}
.Area a {
  padding: 0.167rem;
  font-size: 0.667rem;
  margin: -0.125rem 0 0 0.875rem;
  border-radius: 0.125rem;
  color: #0bace6;
}
.Area a.active {
  background-color: #4c9bfd;
  color: #fff;
}
.Area .inner {
  display: flex;
  flex-direction: column;
}
.Area .chart {
  flex: 1;
  padding-top: 0.6rem;
  position: relative;
}
.Area .label {
  position: absolute;
  left: 1.75rem;
  top: 0.75rem;
  color: #4996f5;
  font-size: 0.583rem;
}
.Area .line {
  width: 100%;
  height: 100%;
}

/* 区块状态*/
.wrap {
  display: flex;
}
.channel,
.quarter {
  flex: 1;
  height: 28vh;
}
.channel {
  margin-right: 0.833rem;
  justify-content: space-between;
}
.channel .data {
  overflow: hidden;
}
.channel .item {
  display: flex;
  justify-content: space-between; /* 横向两者占据空间 */
  align-items: center;  /* 垂直居中对齐 */
  padding: 2vh;
}
.channel .item-border {
  width: 70%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
  margin-left: 15%;
}
.channel .item h4,
.channel .item span {
  flex: 1;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 8px;  /* 图标与文本之间的间隔 */
}
.channel .item h4 {
  margin: 0;
  flex: 0 0 auto; /* h4 占据最小空间，不会拉伸 */
}
.channel h4 {
  color: #fff;
  font-size: 0.6rem;
  margin-bottom: 0.2rem;
}
.channel span {
  display: block;
  color: #4c9bfd;
  font-size: 0.6rem;
}
.channel small {
  font-size: 50%;
}
.channel .chart {
  font-size: 50%;
  display: flex;
  flex-direction: column;  /* 纵向排列 .item 元素 */
  gap: 10px;  /* 间距 */
}

/* 炉膛温度 */
.quarter .inner {
  display: flex;
  flex-direction: column;
  margin: 0 -0.25rem;
}
.quarter .chart {
  flex: 1;
  padding-top: 0.75rem;
}
.quarter .box {
  position: relative;
}
.quarter .label {
  transform: translate(-50%, -30%);
  color: #fff;
  font-size: 1.25rem;
  position: absolute;
  left: 50%;
  top: 50%;
}
.quarter .label small {
  font-size: 50%;
}
.quarter .gauge {
  height: 10vh;
}
.quarter .data {
  display: flex;
  justify-content: space-between;
}
.quarter .item {
  width: 50%;
  text-align: center;
}
.quarter h4 {
  color: #fff;
  font-size: 1rem;
  margin-bottom: 0.4rem;
}
.quarter span {
  display: block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #4c9bfd;
  font-size: 0.583rem;
}



.clock {
  position: absolute;
  top: -1.5rem;
  right: 1.667rem;
  font-size: 0.833rem;
  color: #0bace6;
}
.clock i {
  margin-right: 5px;
  font-size: 0.833rem;
}
@media screen and (max-width: 1600px) {
  .top span {
    transform: scale(0.9);
  }
  .top .province ul.sup li {
    padding: 0.4rem 0.5rem;
  }
  .top .province ul.sub li {
    padding: 0.23rem 0.5rem;
  }
  .quarter span {
    transform: scale(0.9);
  }
}
