
/* 生产实时明细 */
.monitor{
    height: 74vh;
}
.monitor .box{
    /* 装内容 */
    position: absolute;
    top: -2.125rem;
    right: -1.583rem;
    bottom: -0.875rem;
    left: -5.5rem;
    padding: 1.5vh 0;
    overflow: hidden;
}
.monitor .tabs {
    padding: 0 2vh; /* 设置左右内边距 */
    margin-bottom: 0.75rem; /* 设置底部外边距 */
    display: flex; /* 使用 flexbox 排列元素 */
    align-items: center; /* 垂直居中对齐 */
    justify-content: flex-start; /* 可以根据需要选择对齐方式，如居左、居中或居右 */
}

.monitor .tabs a{
    color: #1950c4;
    font-size: 0.75rem;
    padding: 0 1.125vh;
}
.monitor .tabs a:first-child{
    border-right: 0.083rem solid #00f2f1;
    padding-left: 0;
}
.monitor .tabs a.active{
    color: #fff;
}

.monitor .marquee-view{
    position: absolute;  /* 绝对定位 */
    top: 1.5rem;  /* 距离顶部 */
    bottom: 0;  /* 上下边距 */
    width: 100%;  /* 宽度 */
    overflow: hidden; /* 隐藏溢出 */
    justify-content: center; /* 水平居中 */
    display: flex;
    height: 86%;  /* 高度 */
}

/* Swiper 容器的样式 */
.swiper-container {
    width: 90%; /* 设置容器宽度 */
    height: auto; /* 高度自适应 */
    padding: 1vh 0; /* 容器内边距 */
    overflow: hidden; /* 隐藏溢出部分 */
    margin-top: 1vh; /* 调整顶部外边距 */
}


.card {
    box-sizing: border-box;
    position: relative; /* 使用相对定位 */
    padding: 1.5vh; /* 内边距 */
    display: flex; /* 使用 flexbox 布局 */
    flex-direction: column; /* 垂直布局 */
    justify-content: space-between; /* 垂直居中 */
    width: 18%; /* 设置卡片的宽度，根据需要调整 */
    color: white; /* 字体颜色为白色 */
    font-size: 1.5vh; /* 字体大小 */
}

.card::before {
    content: "";
    position: absolute; /* 使用伪元素来创建背景 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; /* 背景覆盖整个卡片 */
    background: url(../images/border.png) repeat; /* 使用图片作为背景 */
    background-size: 100% 100%; /* 根据需要调整图片大小 */
    z-index: -1; /* 确保伪元素在卡片下方 */
}



/* 每个卡片的样式 */
/*.card {*/
/*    box-sizing: border-box;*/
/*    border: 2px solid red;*/
/*    border-image: url(../images/border.png) 51 38 21 132;*/
/*    border-width: 0.875rem 0.875rem 0.875rem 0.875rem;*/
/*    position: relative;*/
/*    margin-right: 0;*/
/*    padding: 10px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-between;*/
/*    width: 18%; !* 设置卡片的宽度，根据需要调整 *!*/
/*    color: white; !* 字体颜色为白色 *!*/
/*}*/

.layui-row {
    margin-bottom: 1.6vh; /* 调整行之间的间距*/
    margin-left: 1vh; /*  调整行的左外边距*/
}

